/*My Availability */
.AvailabilityLabel {
  width: 20%;
}
/*Translation Request Form */
.clientName {
  margin-left: -8px;
}
.orderNumber {
  margin-left: -8px;
}

/* Translation Request */
.table-striped > tbody > tr {
  height: 30px;
}
/* h4 .fa-user {
  float: right;
  margin-top: .1rem;
  margin-right: 1rem;
} */

.container-details {
  display: flex;
  min-width: 568px;
}

.container-details.list-group {
  min-width: 100%;
}
li.list-group-item {
  font-family: inherit;
  font-size: 14px;
  color: #9a9a9a;
}
ul li span {
  font-weight: bold;
  margin: 5px;
}

.container-details ul.list-group{
width:100%; 
min-height: 144px;

}
.requestDetails.modal-body {
  
    background-image: linear-gradient(to left, rgba(18,108,238,0), rgba(18,108,238,1));
 /* background-color:#126CEE; */
}
.loggedAs-info {
  padding-right: 15px;
}
i span {
  display: flex;
  font-weight: 900;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.badge.badge-success {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff; /* Couleur de texte : Blanc */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: green;
}
.badge.badge-warning {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff; /* Couleur de texte : Blanc */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: orange;
}
.badge.badge-danger {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff; /* Couleur de texte : Blanc */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: red;
}

.badge.badge-inverse {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff; /* Couleur de texte : Blanc */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: black;
}

/*Admin */
.btn-block {
  margin: 10px;
  block-size: 10rem;
}
.adminButtons {
  margin: 10vh; /* poussé de la moitié de hauteur de viewport */
  width: 30%;
}

.content.admin .card .content {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

fieldset.scheduler-border {
  border: solid 1px #ddd !important;
  padding: 0 10px 10px 10px;
  border-bottom: none;
}

legend.scheduler-border {
  width: auto !important;
  border: none;
  font-size: 12px;
  border-radius: 5px;
}
/* Add user */
.header h4 {
  background-color: #0a1c35;
  padding: 14px;
  border-radius: 5px;
}
.card .header .title {
  color: white;
}

/*Workaround to mask password & username since autocomplete="off" is not working anymore on modern browsers */
input#userName-id.form-control {
  -webkit-text-security: disc;
}

input#confirmPassword-id.form-control {
  -webkit-text-security: disc;
}
input#password-id.form-control {
  -webkit-text-security: disc;
}

/* Manage ... */
.breadcrumb {
  float: left;
  margin-left: 15px;
  width: 97.2%;
}
td li:before {
content: '\1f4cb';
margin-left: -20px;
margin-right: 10px;
}
.buttonManagePages {
  margin-right: auto;
}
button {
  float: right;
}

label {
  margin-left: 5px;
}


/* Add  ...*/

/* Converter */
.modal-header,
.modal-footer {
  color: #9a9a9a;
  background-color: rgb(243, 243, 237);
}
.modal-body p {
  font-family: inherit;
  font-size: 14px;
  color: #9a9a9a;
}
.modal-info {
  margin-left: 15px;
}
.dragAndDrop {
  border: 1px transparent;
  padding: 10px;
  border-radius: 0.5rem;
  margin-left: 20px;
  margin-bottom: 10px;
}
.dragAndDrop .DropZone {
  background-color: #e2dcdc;
  margin-top: 5px;

  height: 12%;
  width: 30%;
  padding: 1em;
}
.additionalOptions {
  border: 1px transparent;
  padding: 10px;
  height: 450px;
  border-radius: 0.5rem;
  margin-top: 30px;
  margin-left: 35px;
}
.accordion-group {
  margin-bottom: 10px;
  border-radius: 0;
}
.accordion-toggle {
  background: rgb(248, 251, 252);
}
.accordion-toggle:hover {
  text-decoration: none;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

.selectStyle {
  width: 46%;
  float: left;
  margin-right: 8%;
}

.accordion-group {
  margin-bottom: 20px;
}

/* Main Planning...*/
.buttonLine {
  display: inline-block;
  padding: 0.5rem;
}
.btn-lg {
  margin: 1rem;
}
.mainPlanningButtons .btn-info.btn-fill {
  background-color: lightseagreen;
  width: 25rem;
  height: 25rem;
}

.mainPlanningButtons {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

/* Weekly planning */
.label {
  float: right;
  margin: 0.3rem;
}
.select-translators {
  width: 30%;
}

.select-translators-week {
  width: 80%;
  margin-top: 10%;
}
.panel-primary {
  width: 100%;
  border-color: none;
}
.row.text-center {
  width: 90px;
  float: right;
  margin-top: -4.5px;
}
span.title.text-center {
  font-size: 10px;
}
.list-translators .fa-user {
  float: left;
  margin-top: 1.3rem;
  margin-left: 0.4rem;
}
.list-translators {
  /* background-color: rgb(251, 249, 252);*/
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  box-shadow: 2px 2px 2px 1px #bdb9b9;
  transform: translateY(-10px);
  transition: 0.4s;
  min-height: 7rem;
}
.list-translators:hover {
  box-shadow: 2px 2px 2px 1px transparent;
}

.list-translator-text {
  margin-left: 4rem;
  margin-top: 0.2rem;
}

.list-translators_greyed {
  background-color: #9a9a9a;

  color: rgb(98, 16, 180);
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  box-shadow: 2px 2px 2px 1px #bdb9b9;
  transform: translateY(-10px);
  transition: 0.4s;
  min-height: 7rem;
}

.translator-name {
  margin: auto;
}
.lg-target-source {
  margin: auto;
}
.pe-7s-note2 {
  margin-right: 2.5rem;
}

.week-view {
  width: 80%;
}
.panel-body {
  height: 24%;
  background-color: rgb(253, 253, 249);
}
.select-translators .panel-body {
  overflow: auto;
}
.select-translators-week .panel-body {
  overflow: auto;
}
.weekview {
  height: 8%;
  background-color: rgb(253, 253, 249);
}

.container-week-view-global {
  display: flex;
  justify-content: space-evenly;
}
.container-week-view-top {
  width: 25%;
}
.container-month-view {
  display: flex;
  justify-content: space-evenly;
}
.container-week-view-bottom {
  display: flex;
  flex-direction: row;
  width: 60%;
}
.container-month-view-bottom {
  display: flex;
  justify-content: space-evenly;
}
.fa-calendar-week {
  margin-right: 2.5rem;
}
.fc-event {
  margin: 4px;
}
.global-container-weekly {
  display: flex;
  flex-direction: column;
}
/* Monthly Planning */
/* Month View */
.month-view {
  width: 65%;
  height: 30%;
}
.month-view-panel {
  height: 95%;
}
.daypicker-months {
  background-color: rgb(238, 238, 235);
}

/* Select Translators */
.panel-title .btn-fill {
  float: right;
  margin-left: 2px;
}
.get-month-info-button {
  display: block;
  background-color: #428bca;
  margin: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}

.fa-calendar-alt {
  margin-right: 1rem;
}

/* Filter */

.fa-filter {
  margin-right: 2.5rem;
}
.planning-filter {
  width: 80%;
}

.panel-body-filter {
  height: 30%;
}
#sel2 {
  border: 1px solid #e3e3e3;
}
#sel1 {
  border: 1px solid #e3e3e3;
}
#sel3 {
  border: 1px solid #e3e3e3;
}

#sel2:hover {
  border: 1px solid black;
}
#sel1:hover {
  border: 1px solid black;
}
#sel3:hover {
  border: 1px solid black;
}

.week-tasks {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.week-task-am {
  width: 98%;
  background-color: rgb(238, 238, 235);
  height: 5%;
  margin-bottom: 0.5rem;
}

.date-pm-container {
  width: 100%;
}
.date-am-container {
  width: 100%;
}
.date-am {
  padding: 1rem;
}
.date-pm {
  padding: 1rem;
}

.week-task-am:first-child {
  border-top: 2px solid red;
  width: 98%;
}

.week-task-pm:first-child {
  border-top: 2px solid red;
}

.week-task-pm {
  background-color: rgb(238, 238, 235);
  height: 5%;
  width: 98%;
  margin-bottom: 0.5rem;
}
.fa-plus {
  float: right;
  margin: 0.3rem;
}

.react-datepicker__input-container input {
  margin-left: 1rem;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.react-datepicker__input-container input:hover {
  margin-left: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.week-task-am .accordion-icon-circle .accordion-icon:before {
  content: "\f056";
  float: right;
  height: 2em;
}
.week-task-am .accordion-icon-circle.collapsed .accordion-icon:before {
  content: "\f055";
  float: right;
}
.week-task-pm .accordion-icon-circle .accordion-icon:before {
  content: "\f056";
  float: right;
  height: 2em;
}
.week-task-pm .accordion-icon-circle.collapsed .accordion-icon:before {
  content: "\f055";
  float: right;
}
.accordion-icon {
  color: black;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
}
.list-unstyled {
  margin: 0px;
  padding: 0px;
}
/* Working hours */

.container-week-view-bottom {
  width: 67%;
}
.working-hours {
  font-size: large;
  font-weight: 100;
  padding: 10px;
  height: 50px;
  background-color: rgb(248, 248, 247);
}
.select-month {
  background-color: rgb(248, 248, 247);
  border-top-style: ridge;
  margin-top: 20px;
  font-size: normal;
  font-weight: 100;
  padding: 13px;
  height: 50px;
  font-weight: bolder;
}
.fa-clock {
  margin-right: 1rem;
  float: left;
}
.container-select-month {
  display: flex;
  flex-direction: row;
  width: auto;
}
.datetimepicker {
  border-top-style: ridge;
  margin-top: 20px;
  font-size: normal;
  font-weight: 100;
  padding: 4px;
  height: 50px;
  font-weight: bolder;
  background-color: rgb(248, 248, 247);
  width: 100%;
}
.datetimepicker .input-group {
  width: 30%;
  border: black;
}
.select-month {
  width: 22%;
  background-color: rgb(248, 248, 247);
}
.container-working-hours {
  display: flex;
  width: 72%;
  margin-top: 3%;
  width: 65%;
  border-top-style: ridge;
  display: flex;
  flex-direction: column;
}
#mypanel {
  background-image: none;
  background: rgb(54, 52, 52);
  color: white;
}

/* Absences */

.fa-sun {
  margin-right: 1rem;
}
.absence-list {
  background-color: rgb(248, 248, 247);
  border-top-style: ridge;
  margin-top: 20px;
  font-size: normal;
  font-weight: 100;
  padding: 13px;
  height: auto;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Add an absence */
.absence-dates {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.fa-plus-square {
  margin-right: 1rem;
}
.absence-date-title {
  font-size: 21px;
  padding: 4px;
  background-color: rgb(248, 248, 247);
  border-top-style: ridge;
  height: 40px;
}
.absence-details {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
select {
  display: block;
  background-color: #ffffff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  color: #565656;
  padding: 8px 12px;
  height: 40px;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
}
.who {
  display: block;
  width: 100%;
}
.buttons {
  margin-top: 4px;
}
/* Recurring tasks*/
.global-container {
  display: flex;
  flex-direction: column;
}

.recurring-tasks {
  background-color: rgb(248, 248, 247);
  border-top-style: ridge;
  margin-top: 20px;
  font-size: normal;
  font-weight: 100;
  padding: 13px;
  height: auto;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recurring-task-title {
  font-size: 21px;
  padding: 4px;
  background-color: rgb(248, 248, 247);
  border-top-style: ridge;
  height: 40px;
}
.recurring-task-dates {
  width: 55%;
  display: flex;
  justify-content: space-between;
}
.container-recurring-task {
  display: flex;
  width: 72%;
  margin-top: 3%;
  width: 65%;
  border-top-style: ridge;
  display: flex;
  flex-direction: column;
}
.recurring-task {
  font-size: large;
  font-weight: 100;
  padding: 10px;
  height: 50px;
  background-color: rgb(248, 248, 247);
}
.fa-search {
  margin-right: 1rem;
}
.fa-repeat {
  margin-right: 1rem;
}
